@tailwind base;
@tailwind components;
@tailwind utilities;

.cardNft {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.75);
}
